.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid rgb(196, 146, 146);
}
.chatArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
.chatHeader{
    position: fixed;
    width: 70%;
    height: 40px;
    background: #3b9a54bf;
    text-align: center;
    line-height: 40px;
    color: #26667a;;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
.chatControls{
    display: flex;
    position: fixed;
    width: 70%;
    height: 50px;
    bottom: 0;
}
.chatControls textarea{
    width: 90%;
    padding: 4px;
}
.chatControls button{
    width: 10%;
}
.chatControls button:hover{
    cursor: pointer;
    background-color: #ccc;
}

.displayName{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.displayName.active{
    background: #ccc;
}

.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageStyle{
    background: rgb(151, 201, 203);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.messageSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 40px;
}

.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #e3d516;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #e3d516;
}

.onlineStatus.off{
    background: rgb(128, 126, 0);
    box-shadow: 0 0 0 0;
}